.navbar-fixed-top {
    top: auto;
}

.dropdown-menu {
    background: #000;
    margin-top: 8px;
}
    .dropdown-menu > li {
        color: #ccc;
    }
    .dropdown-menu > li a {
        color: #fff;
    }

.navbar-form {
    margin-top: 0px;
    margin-bottom: 0px;
    }
